<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SNS掲示板</title>
</head>
<body>
    <h1>掲示板</h1>

    <form th:action="@{/post}" method="post">
        <input type="text" name="username" placeholder="ニックネーム" required>
        <input type="text" name="content" placeholder="今何してる？" required>
        <button type ="submit">投稿する</button>
    </form>

    <hr>

    <ul>
        <li th:each="post : ${posts}">
            <strong th:text="${post.username}">ユーザー名</strong>:

            <span th:text="${post.content}">投稿内容</span>
            <small th:text="${#temporals.format(post.createdAt, 'yyyy/MM/dd HH:mm')}"></small>

            <form th:action="@{/delete}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${post.id}">
                <button type="submit" onclick="return confirm('本当に削除しますか？')">削除</button>
            </form>
        </li>
    </ul>
</body>
</html>